body {
    background-color: rgb(138, 129, 239);
}

h1 {
    color: rgb(249, 245, 0);
    font-size: clamp(4.75em, 1em + 3vw,2.5em);
    font-family: 'Fredericka the Great', cursive;
}


.carousel-inner img {
    min-height: 200px;
}

.row {
    padding-left: 30px;
    padding-right: 20px;
}

.row h2 {
    color: rgb(249, 245, 0);
    font-family: 'Fredericka the Great', cursive;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    font-size: clamp(2.75em, 1em + 3vw,2.5em);
}

.card img {
    margin-bottom: 32px;
    height: 500px;
}

.col-sm-12{
    margin-bottom: 16px;
}


.card-text {
    height: 342px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn {
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none;
        max-width: 90%;
    }}